::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: rgba(102,102,102,0.5);
  border: 0px none #ffffff;
  border-radius: 93px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background:   rgba(102,102,102,0.5);
}
::-webkit-scrollbar-corner {
  background: transparent;
}


@font-face {
    font-family: Interstate;
    src: url(/fontes/Interstate Thin.ttf);
}

@import 'https://fonts.googleapis.com/css?family=Raleway:100';

/* ============================================================
  SECTIONS
============================================================ */
p {
  font-family: Helvetica, sans-serif;

}
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  width:  60%;
  margin: 0 auto;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  padding-top: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid #939393;
}

section.module h3 {
  font-family: 'Quicksand', sans-serif;
  margin-top: 5px;
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
  color: white;
}

section.module h4 {
  font-family: 'Quicksand', sans-serif;
  margin-top: 5px;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  color: white;
}

section.module h5 {
  color: #d3d3d3;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 300;
  margin-top: -20px;
  margin-bottom: 60px;
}
section.module p {
    text-align: center;
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding-top: 30px;
  padding-bottom: 65px;
  color: white;
  background-color: #272727;
}
section.module.parallax {
  padding: 120px 0;
  background-position: 0 0;
  background-color: #a9a9a9;
}
section.module.parallax h1 {
   font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #FFF;
    font-weight: normal;
    line-height: 100px;
    z-index: 0;
    font-size: 125px;
    float: none;
}
section.module.parallax-1 {
  background-image: url("../img/1.jpg");
}
section.module.parallax-2 {
  background-image: url("../img/4.jpg");
}
section.module.parallax-3 {
  background-image: url("../img/2.jpg");
}
section.module.parallax-4 {
  background-image: url("../img/5.jpg");
  background-position: -500px;
}

/* ============================================================
  TEXT LEVEL SEMANTICS
============================================================ */
a {
  text-decoration: none;
  color: #1e1e1e;
}

a:hover {
  color: black;
}

.hideme
{   letter-spacing: 12px;
    opacity:0;
}

  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax {
    padding: 180px 0;
  }
  section.module.parallax h1 {
    width:  60%;
    margin: 0 auto;
   font-family: 'Quicksand', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #FFF;
    line-height: 100px;
    z-index: 0;
    font-size: 100px;
    float: none;
    padding-bottom:20px;
    border-bottom: 1px solid white;
  }
section.module.parallax.active h1 {
    letter-spacing: 11px;
  }
  .cal .abt .midcol p {
    font-size:  16px;
  text-align:  center;
  margin-bottom: 25px;
}
  .columns {
  margin: 0 auto;
}
#about {
  color: white;
  width: 100%;
  height: 100%;
  text-align:  center;
  background-color: #272727;
}

.instructor p{
  color: #404040;
}

.abt .midcol p{
  font-size: 14px;
  line-height: 25px;
  color: #939393;
  text-align: left;
}

.rtcol {
      letter-spacing: 1px;
    font-size: 16px;
  text-align: left;
}

.rtcol p {
  text-align: left !important;
  font-size: 18px  !important;
  margin-bottom: 20px !important;
}

.rtcol ul li {
  color: #939393;
}
.rtcol img {
  margin: 0 auto;
  margin-right: 5px;
}

.abt .leftcol p{
  margin-top: -10px;
  font-size: 40px;
  text-align: right;
}

/*QUOTE STYLING*/
.quotebox {
  position: relative;
  background: rgba(255,255,255, 0.8);
  border-radius: 10px;
  width: 380px;
  height: 300px;
  text-align: left;
}

.quotebox img {
  float: left;
  padding-top: 20px;
  padding-left: 20px;
  height: 60px;
  width: 60px;
  display: inline-block;
}
.quotebox p {
  text-indent: 20px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px !important;
  font-size: 16px !important;
  font-family: 'Raleway';
  text-align: left !important;
  font-weight: 400 !important;
  display: inline-block !important;
  color: black;
}

.quotebox .signature {
  letter-spacing:  1px;
  position:  absolute;
    font-size: 16px !important;
  font-family: 'Raleway';
  bottom: 20px;
  right: 20px;
  font-weight: bold;
  color:  black;
  font-size:  20px;
  text-align: right;
}
/*FOOTER STYLING*/
footer {
  border-top: 2px solid #333;
}

.contact {
padding-top: 50px;
padding-bottom: 50px;
}



.contact p {
  margin-top: 10px;
      font-family: Helvetica, sans-serif;
      font-weight: 500;
      letter-spacing:  2px;
  font-size: 16px;
  color: #d3d3d3;
}

.contact img {
  margin: 0 10px;
}
.contact.dark {
  background-color: #333;
  padding-top: 30px;
  padding-bottom:55px; 
  height:  240px;
}



@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: #FFF;
    font-weight: normal;
    line-height: 90px;
    z-index: 0;
    font-size: 125px;
    float: none;
  }
}